*{
    margin: 0;
    padding: 0;
    text-align: center;
    /* border: border-box; */
}
h1{
    background-color: #081321;
    height: 5rem;
    color: #fff;
    line-height: 5rem;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    opacity: .5;
    cursor: pointer;
    text-shadow: #081321;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 25px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#computer-score{
    font-size: 4rem;
}
.message{
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
}
#msg{
    margin-top: 5rem;
    background-color: #081321;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
